html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: 'Tomorrow', sans-serif;
}

/* Background */
body {
  background-image: url('/getImage?image=rorschach.png'); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

/* Our floating table of contents!! */
.floating-table-of-contents {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 200px;
  border-radius: 6px;
  padding: 10px 15px;
}

/* Entire List CSS */
.floating-table-of-contents ul {
  list-style: none;
  padding-left: 0;
}

/* Table of Contents links (kind of behave like buttons) */
.floating-table-of-contents a {
  display: block;
  text-decoration: none;
  padding: 8px 12px;
  color: #0077cc;
  border-radius: 6px;
  font-weight: 500;
}

/* Table of Contents Hover */
.floating-table-of-contents a:hover {
  background-color: #00000047;
  color: #fff;
}

/* The big see through backdrop */
.body-content {
  background-color: rgba(235, 235, 235, 0.932); 
  margin: 35px auto;
  max-width: 1100px;
  padding-top: 50px;
  padding-bottom: 350px;
}

/* All of our content, basically */
.apiAccess {
  text-align: center;
  margin: 0 auto;
}

/* Our Header for each endpoint */
.apiAccess h1 {
  font-size: 2em;
}

/* Website Title */
.websiteTitle {
  text-align: center;
  margin: 0 auto;
  font-size: 3em;
}



/* Individual Album Card */
.album {
  display: flex;              
  gap: 10px;                  
  align-items: flex-start;
  text-align: center;
  flex-direction: row;
  padding: 20px;
  max-width: 800px;
  margin: 25px auto;  
  background-color: #ffffff;
  border: 1px solid #9a9a9a;
  border-radius: 15px;
}

/* Album Card - Hover */
.album:hover {
  transform: scale(1.03);
}

/* Album Card -  Title and Release*/
.album h2 {
  font-family: 'Indie Flower', cursive;
  font-size: 1.25rem;
  color: rgb(36, 36, 36);
}

/* Ablum Card - Label and Length */
.album-bottom {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 0.8rem;
  color: #5b5b5b;
}

/* Album Card - Description */
.album-info {
  font-family: 'Noto Sans JP', sans-serif;
}

/* Album Card - Details */
.album-info h3 {
  margin-top: -10px;
  font-size: 0.95rem;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 300;
  font-weight: bold;
}

/* Album Card - Cover Image (technically all images, but they will be overriden) */
.album img {
  width: 150px;               
  height: auto;
  border-radius: 5px;
  object-fit: cover;
}

/* Album Card - Links */
.album .links {
  display: flex;
  flex-direction: column;
  gap: 10px;   
  margin-top: 10px;
}

/* Album Card - Image Links (told u) */
.album .links img {
  width: 20px; 
  height: auto;
}

/* Row of Song Cards */
.song-grid {
    display: flex;
    flex-direction: column;
    gap: 12px;
}


/* Individual Song Card */
.song-card {
  display: flex;
  background-color: #ffffff;
  border: 1px solid #9a9a9a;
  border-radius: 10px;
  padding: 10px;
  height: auto;
  width: 300px;
}

/* Song Card - Hovering Effect */
.song-card:hover {
  transform: scale(1.03);
}



/* Song Card - Cover Image */
.song-card img {
  width: 80px;
  height: 80px;
  border-radius: 6px;
  object-fit: cover;
  margin-right: 12px;
}

/* Song Card - Title, Artist, Length, Rating, Buttons  */
.song-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 0.8em;
  color: #333;
}

/* Song Card - Title */
.song-info h4 {
  font-family: 'Indie Flower', cursive;
  font-size: 1rem;
  color: rgb(59, 59, 59);  
  margin: 0 0 4px 0;
  font-weight: bold;
}

/* Song Card - Arist */

.song-info h3 {
  font-size: 0.85em;
  margin: 0 0 4px 0;
  color: #353535;
}

/* Song Card - Preview Player */
.song-info audio {
  width: 100%;
  height: 25px;
}

/* Song Card - Buttons */
.song-info button {
  margin-top: 4px;
  padding: 3px 6px;
  font-size: 0.75em;
  border: none;
  background-color: #183e85;
  color: rgb(255, 255, 255);
  border-radius: 6px;
  cursor: pointer;
}

/* Song Card - Buttons Hover */
.song-info button:hover {
  background-color: #0e2856;
}

/* Song Card - Lyrics Section */
.lyrics-section {
  max-width: 800px;
  margin: 20px auto;
  padding: 15px;
  background-color: #eeeeee;
  border-radius: 12px;
  font-size: 0.9em;
  text-align: center;
  font-family: 'Noto Sans JP', sans-serif;
}

/*https://stackoverflow.com/questions/5782409/why-doesn-t-javascript-newlines-work-inside-html*/
.newlines {
  white-space: pre-wrap;
}